            
            body{
               
            background: linear-gradient(to top, blue, red );  
            margin: 0;
                border: 1px solid white;
            }
    h1{
         text-indent:800px;
    
}
            block{
                padding: 10px;
                
                
                
                width: 100%;
            
                border: 2px solid black;
            }
        
